{{> header}}
{{> bodyheader}}

{{{banner}}}

<table style='margin-top:10px;'>
<tr>
    <td nowrap><b>{{title}}</b></td>
    <td style='padding-left:12px;'>{{{add-screen-elements}}}</td>
</tr>
</table>

<title style="boarder:1pt solid lightgray;padding: 3px;">
<tr><td>ID</td><td>{{#element}}{{id}}{{/element}}</td></tr>
<tr><Td>Type</td><td>{{#element}}{{sectionType}}{{/element}}</td><tr>
<tr><Td>Type</td><td>{{#element}}{{content}}{{/element}}</td><tr>
</table>

{{> footer}}