{{> header}}

<h1>{{title}}</h1>

<div class="btn-group mw-100 text-start">
    <button type="button" id="home" class="btn btn-outline-primary btn-sm active">Home</button>
    <button type="button" id="about" class="btn btn-outline-primary btn-sm">About</button>
    <button type="button" id="services" class="btn btn-outline-primary btn-sm">Services</button>
</div>

<p>&nbsp;</p>

{{{element}}}

{{> footer}}