{{> header}}
<script>
    function on_search() {
        location.href = '/plan?search=' + document.getElementById('search').value
    }
</script>
{{> bodyheader}}
{{{banner}}}
{{{html-title-line}}}

{{#plans}}
<table class="table table-striped table-bordered btn-sm" style="width:100%;">
    <thead>
    <tr>
        <th scope="col">Plan ID</th>
        <th scope="col">Name</th>
        <th scope="col">Fee</th>
        <th scope="col">Recurrence Period</th>
        <th scope="col">Partner Plan</th>
        <th scope="col">Corporate Plan</th>
        <th scope="col">Employee Only</th>
        <th scope="col">Priority</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row" nowrap><a href='/plan/info?id={{id}}' style='width:100%;' class="btn btn-outline-primary btn-sm">{{id}}</a></td>
            <td>{{integration_name}}</td>
            <td>{{fee}}</td>
            <td>{{recurrence_interval_type}}</td>
            <td>{{is_partner_plan}}</td>
            <td>{{is_corporate_plan}}</td>
            <td>{{employees_only}}</td>
            <td>{{priority}}</td>
        </tr>
    </tbody>
</table>
{{/plans}}

<script>
    let inputBox = document.getElementById('search')
    inputBox.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            on_search()
        }
    });
    inputBox.focus();
</script>
{{> footer}}