{{> header}}
{{> bodyheader}}

{{{banner}}}

<p style='margin-top:10px;font-weight:bold;'>{{title}}</p>

<form style="width:640px;margin-top:10px;" class="text-start" action="/rule/add" method="post">
    <table style='margin-top:10px; width:860px;'>
        <tr>
            <td nowrap><b>{{title}}</b></td>
            <td style='padding-left:16px;text-align:right;' nowrap>
                <input type="submit" class='btn btn-outline-primary btn-sm' value="Submit">
                <a type="button" class='btn btn-outline-primary btn-sm' href="/rule">Cancel</a>
            </td>
        </tr>
    </table>

    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required />
    </div>
    <div class="form-group">
        <label for="type">Type:</label>
        {{{rule_types}}}
    </div>
    <div class="form-group">
        <label for="run">Run:</label>
        <textarea class="form-control" id="run" name="run" rows="10" required></textarea>
    </div>

    <div class="alert alert-info d-flex" style="margin-top:10px;padding-bottom:0px;margin-bottom:0px;">
        <i class="bi-info-circle-fill"></i><div class="mx-2">Supported Commands:
        <ul style="margin-left:2px;">
            {{{commandList}}}
        </ul></div>
    </div>
</form>

<script>
    document.getElementById('name').focus()
</script>

{{> footer}}