{{> header}}
{{> bodyheader}}

{{{banner}}}

<p style='margin-top:10px;font-weight:bold;'>{{title}}</p>

<form style="width:640px;margin-top:10px;" class="text-start" action="/rule/add" method="post">

    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required />
    </div>
    <div class="form-group">
        <label for="type">Type:</label>
        {{{rule_types}}}
    </div>
    <div class="form-group">
        <label for="run">Run:</label>
        <textarea class="form-control" id="run" name="run" rows="10" required></textarea>
    </div>

    <br>
    <center>
        <input type="submit" class='btn btn-outline-primary btn-sm' value="Submit">
        <a type="button" class='btn btn-outline-primary btn-sm' href="/rule">Cancel</a>
    </center>
</form>

<script>
    document.getElementById('name').focus()
</script>

{{> footer}}