{{> header}}
<script src="/screen_edit.js"></script>
{{> bodyheader}}
{{{banner}}}

<form style="margin-top:10px;" class="text-start" action="/screen/add" method="post">
    <table style='margin-top:10px; width:100%;'>
        <tr>
            <td nowrap><b>{{title}}</b></td>
            <td style='padding-left:16px;text-align:right;' nowrap>
                <button type="button" class='btn btn-outline-primary btn-sm' onclick='onValidateScreen()'>Validate</button>
                <input type="submit" class='btn btn-outline-primary btn-sm' value="Submit">
                <a type="button" class='btn btn-outline-primary btn-sm' href="/screen">Cancel</a>
            </td>
        </tr>
    </table>

    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required />
    </div>
    <div class="form-group">
        <label for="elements">Elements:</label>
        <textarea class="form-control" id="elements" name="elements" rows="36" cols="128" required
                  style="font-size:small;"
                  placeholder="Provide ui screen construction with json format: array of screen elements"></textarea>
    </div>
    <div class="form-group" style="margin-top:16pt;">
        <label for="elementType">Supported Elements:</label>
        {{{screenElements}}}
        <button type="button" class='btn btn-outline-primary btn-sm' onclick="screenElementCopyToClipboard()">Copy to Clipboard</button>
        <a type="button" class='btn btn-outline-primary btn-sm' href="https://jsonformatter.org/json-editor" target="_jsonEditor">Open Json Editor</a>
    </div>
    <div id="elementFormat"></div>
</form>

<script>
    document.getElementById('name').focus()
    onScreenItemChanged()
</script>
{{> footer}}