{{> header}}
{{> bodyheader}}
{{{banner}}}

<form style="width:100%;margin-top:10px;" class="text-start" action="/screen/simulate" method="post">
    <table style='margin-top:10px; width:100%;'>
        <tr>
            <td nowrap><b>{{title}}</b></td>
            <td style='padding-left:16px;text-align:right;' nowrap>
                <input type="submit" class='btn btn-outline-primary btn-sm' value="Execute">
            </td>
        </tr>
    </table>

    <div class="form-group">
        <label for="parameters">Parameters:</label>
        <textarea class="form-control" id="parameters" name="parameters"
                  rows="16"
                  style="font-size:small;width:100%;"
                  placeholder="provide name-value paired input as json format"
                  required>{{parameters}}</textarea>
    </div>

    {{{result}}}

    {{#screen}}
        <input type='hidden' name='id' value='{{id}}' />
        <pre style="margin-top:3pt;font-size:small;background-color:#EEEEEE;">{{elements}}</pre>
    {{/screen}}
</form>

<script>
    document.getElementById('parameters').focus()
</script>

{{> footer}}