{{> header}}
<script>
    function on_delete(id) {
        if (confirm("Are you want to remove this screen!")) {
            location.href = "/screen/delete?id=" + id
        }
    }
</script>
{{> bodyheader}}
{{{banner}}}

<table style='margin-top:10px; width:100%;'>
    <tr>
        <td><b>{{title}}</b></td>
        <td style='padding-left:16px;text-align:right;' nowrap>
            <a href='/screen/add' class='btn btn-outline-primary btn-sm'>Add screen</a>
            {{#screen}}
                <a href='/screen/edit?id={{id}}' class='btn btn-outline-primary btn-sm'>Edit</a>
                <button type="button" class='btn btn-outline-primary btn-sm' onclick="on_delete({{id}})">Remove</button>
                <a href='/screen/simulate?id={{id}}' class='btn btn-outline-primary btn-sm'>Simulate</a>
            {{/screen}}
        </td>
    </tr>
</table>

{{#screen}}
    <pre style="font-size:small;background-color:#EEEEEE;">{{elements}}</pre>
{{/screen}}

{{> footer}}