{{> header}}
<script>
    function on_search() {
        location.href = '/text?search=' + document.getElementById('search').value
    }
</script>
{{> bodyheader}}
{{{banner}}}
{{{html-title-line}}}

{{#texts}}
    <table class="table table-striped table-bordered" style="width:100%;">
    <tbody>
        <tr><td><a href='/text/info?id={{id}}' class="btn-sm">{{name}}</a>
            <div style="word-wrap:break-word;font-size:small;padding-left:10px;width:860px;">{{value}}</div></td></tr>
        <tr><td style='text-align:center;'>There's no registered texts.</td></tr>
    </tbody>
</table>
{{/texts}}

<script>
    let inputBox = document.getElementById('search')
    inputBox.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            on_search()
        }
    });
    inputBox.focus();
</script>
{{> footer}}