{{> header}}
<script>
    function on_search() {
        location.href = '/user?search=' + document.getElementById('search').value
    }
</script>
{{> bodyheader}}
{{{banner}}}
{{{html-title-line}}}

{{#users}}
<table class="table table-striped table-bordered" style="width:100%;">
<thead>
    <tr><th scope="col">Cx ID</th><th scope="col">Name</th><th scope="col">Configuration</th></tr>
</thead>
<tbody>
    <tr>
        <td scope="row" nowrap>{{id}}</td>
        <td nowrap><a href='/user/info?id={{id}}' class='btn btn-outline-primary btn-sm'>{{name}}</a> &nbsp;</td>
        <td>{{{experiments}}}</td>
    </tr>
</tbody>
</table>
{{/users}}

<script>
    let inputBox = document.getElementById('search')
    inputBox.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            on_search()
        }
     });
     inputBox.focus();
</script>
{{> footer}}