{{> header}}
<script language='javascript' type='text/javascript'>
    function on_search() {
        var query = document.getElementById('search').value
        location.href = '/user?search=' + query
    }
</script>
{{> bodyheader}}
{{{banner}}}
{{{html-title-line}}}

<table class="table table-striped table-bordered" style="width:100%;">
<thead>
    <tr><th scope="col">Cx ID</th><th scope="col">Name</th><th scope="col">Configuration</th></tr>
</thead>
<tbody>
{{#users}}
    <tr>
        <td scope="row" nowrap>{{id}}</td>
        <td nowrap><a href='/user/info?id={{id}}' class='btn btn-outline-primary btn-sm'>{{name}}</a> &nbsp;</td>
        <td>{{{experiments}}}</td>
    </tr>
{{/users}}
{{^users}}
<tr><td colspan=3 style='text-align:center;'>There's no registered users.</td></tr>
{{/users}}
</tbody>
</table>

<script>
    let inputBox = document.getElementById('search')
    inputBox.addEventListener("keyup", function (event) {
        if (event.keyCode == 13) {
            on_search()
        }
     });
     inputBox.focus();
</script>
{{> footer}}