{{> header}}
{{> bodyheader}}

{{{banner}}}

<form style="width:640px;margin-top:10px;" class="text-start" action="/user/add" method="post">
    <table style='margin-top:10px; width:860px;'>
        <tr>
            <td nowrap><b>{{title}}</b></td>
            <td style='padding-left:16px;text-align:right;' nowrap>
                <input type="submit" class='btn btn-outline-primary btn-sm' value="Submit">
                <a type="button" class='btn btn-outline-primary btn-sm' href="/user">Cancel</a>
            </td>
        </tr>
    </table>

    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required />
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required />
    </div>
    <div class="form-group">
        <label for="experiments">Experiments:</label>
        <textarea class="form-control" id="experiments" name="experiments" rows="5"
                  placeholder="add experiment mappings with exp_name:control pair with comma separated."></textarea>
    </div>
    <div class="alert alert-info d-flex" style="margin-top:10px;padding-bottom:0px;margin-bottom:0px;">
        <i class="bi-info-circle-fill"></i><div class="mx-2">Supported Experiments:
        <ul style="margin-left:2px;">
            {{{experimentList}}}
        </ul></div>
    </div>
</form>

<script>
    document.getElementById('name').focus()
</script>

{{> footer}}